@using MasExpenseSystem.Entities
@model List<ServiceVM>

<h2>Transaction History</h2>
<div class="row align-items-end">
    <div class="col-sm-3">
        <div class="mb-2">
            <label class="form-label">Start Date</label>
            <input type="date" class="form-control" id="txtStartDate"/>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mb-2">
            <label class="form-label">End Date</label>
            <input type="date" class="form-control" id="txtEndDate" />
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mb-2">
            <button type="button" class="btn btn-primary" onclick="searchTransaction()">Search</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <table id="myTable" class="display">

        </table>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.print.min.js"></script>

    <script>
        var table;

        $(document).ready(function () {

            const today = new Date().toISOString().split("T")[0];
            $("#txtStartDate").val(today);
            $("#txtEndDate").val(today);

            table = $('#myTable').DataTable({
                ajax: {
                    url: "/Transaction/HistoryTransaction?startDate=2024/01/01&endDate=2024/12/31",
                    type: "GET",
                    datatype: "json"
                },
                columns: [
                    { title: "Date", data: "date", width: "150px" },
                    { title: "Month", data: "month", width: "150px" },
                    { title: "TypeService", data: "typeService", width: "150px" },
                    { title: "Service", data: "service", width: "150px" },
                    { title: "TotalAmount", data: "totalAmount", width: "150px" }
                ],
                layout: {
                    topStart: {
                        buttons: ["copy", "csv", "excel", "pdf", "print"]
                    }
                }
            });
        });

        function searchTransaction() {
            const startDate = $("#txtStartDate").val();
            const endDate = $("#txtEndDate").val();

            const new_url = `/Transaction/HistoryTransaction?startDate=${startDate}&endDate=${endDate}`;

            table.ajax.url(new_url).load();
        }
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.5/css/buttons.dataTables.css">
}
